# **Modules üöô**

> **Definition:** A python file containing functions, classes and variables

![pandas](pandas.jpeg)

## 1. **OS Module**

In [2]:
import os

In [3]:
os.getcwd()

'c:\\Users\\Lenovo pro\\Desktop\\WORK_2025\\SECOND_YEAR\\FIRST_SEM\\Data_Science\\DS_in_Python\\Lesson_1'

In [4]:
os.listdir()

['.git', 'introduction.ipynb', 'modules.ipynb']

## 2. **Pandas and Numpy üêº**

- **Pandas:**
The purpose of pandas is to help us analyze, clean, explore and manipulate datasets. It can be compared to microsoft 

**Python Pandas VS Excel**
- Excel is limited by capacity that it can hold
- Python can handle complex data transformation
- Python is capable of automation
- Python has cross-platform capabilities

**Structure of Pandas working**
1. 1D Array (Series)
2. 2D Array (Dataframe)

2. **Data Frame**
    - A column is known as ***series***
    - Intersection of a row and a column is known as ***data***
    - A series title/names are known as ***features***
    - A series should contain data of the same data type
    - A row is known as an ***observation***
    - Observation(rows) heading known as ***index***

#### **How to create a Dataframe**

1. **Using Arrays**

![Dataframe using an array](array.png)

In [1]:
import pandas as pd
import numpy as np

In [11]:
first_data = np.array([[3,4],[7,8],[2,0]])

first_dataFrame = pd.DataFrame(first_data, index = ['row1', 'row2', 'row3'], columns = ['col1', 'col2'])
first_dataFrame

      col1  col2
row1     3     4
row2     7     8
row3     2     0

2. **Using Dictionary**

![Dataframe using a dictionary](dict.png)